/**
 * *****************************
 *
 * @format
 */

/* GENERAL */
/* ****************************** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif;
}

.container {
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  line-height: 1.2;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  font-weight: 800;
  position: relative;
}

.pargraph {
  letter-spacing: 0.8px;
  line-height: 1.8;
  padding-top: 40px;
}

.learn-btn {
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.ts-btn {
  transition: all 0.5s;
}
/* ****************************** */
/* HEADER */
/* ****************************** */
.header {
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px solid #117050;
}

.navigation {
  display: flex;
  align-items: center;
}

.headeing-happy {
  width: 40%;
}

.search-navigation {
  display: flex;
}

.navigation-logo {
  width: 70px;
  object-fit: cover;
  cursor: pointer;
}

.search {
  font-size: 20px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  outline: none;
}

.search-icon {
  font-size: 18px;
  right: 32px;
  position: relative;
  cursor: pointer;
}

.list-icon {
  font-size: 22px;
  padding-left: 50px;
  cursor: pointer;
}

/* ****************************** */
/* HAPPY STARBUCKS */
/* ****************************** */
.srabucks-happy {
  background-image: url("//images01.nicepage.com/cd/bf/cdbf59a2f165be0f4ab729f1183a7b1d.jpeg");
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.happy-text {
  padding-top: 70px;
}

.headeing-happy {
  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: 800;
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: -0.2px;
}

.paragraph-happy {
  letter-spacing: 0.5px;
  padding-top: 30px;
  font-size: 16px;
}

.starbucks-shakes {
  display: flex;
  padding-top: 80px;
  gap: 40px;
  align-items: center;
}

.shake {
  width: 170px;
  border-radius: 50%;
  border: 6px solid green;
}

/* ****************************** */
/* LADY GAGA */
/* ****************************** */
.lady-gaga {
  display: flex;
}

.lady-gaga__heading::before {
  content: " ";
  width: 180px;
  border-top: 20px solid darkgreen;
  position: absolute;
  top: -45%;
}
.image-gaga {
  display: contents;
}

.image-gaga img {
  max-width: 100%;
  width: 47.3%;
  height: 105vh;
}

.lady-gaga__text {
  display: inline-block;
  padding: 80px 150px;
}

.image-shake {
  width: 100%;
  height: 34vh;
  margin-top: -36px;
  object-fit: cover;
}

.image-shake {
  display: contents;
}

.image-shake img {
  width: 100%;
  height: 34vh;
  object-fit: cover;
}

.lady-gaga__btn:hover,
.lady-gaga__btn:active {
  background-color: rgb(66, 63, 63);
  color: white;
}

.lady-gaga__comment {
  padding-top: 20px;
  font-style: italic;
}

/* ****************************** */
/* VANIILA */
/* ****************************** */
.Introducing-product {
  display: flex;
}

.vanilla-image img {
  width: 98%;
  height: 124vh;
}

.vanilla-container {
  display: flex;
  flex-direction: column;
}

.Vanilla-cream {
  padding: 80px 100px;
}

.cream-image {
  display: contents;
}

.cream-image img {
  width: 102%;
  height: 55.9vh;
  margin-top: -25px;
  margin-left: -16px;
}

.vanilla-heading::before {
  content: " ";
  width: 180px;
  border-top: 20px solid darkgreen;
  position: absolute;
  top: -25%;
}

.vanilla-btn:hover,
.vanilla-btn:active {
  background-color: rgb(66, 63, 63);
  color: white;
}

/* ****************************** */
/* ULTRA-CARAMEL */
/* ****************************** */

.Ultra-Caramel {
  display: flex;
  flex: 2;
}

.ultra-caramel__content {
  position: relative;
  padding: 150px;
  padding-top: 175px;
  flex: 1;
}

.ultra-heading {
  font-weight: 900;
  line-height: 1.2;
}

.ultra-pargraph {
  font-size: 18px;
  padding: 15px 0;
}

.ultra-btn {
  padding: 10px 50px;
}

.ultra-image {
  display: contents;
}

.ultra-image img {
  width: 47%;
}

.bg-ultra {
  position: absolute;
  width: 60%;
  z-index: -1;
  filter: opacity(0.4);
  left: -6%;
  top: 45%;
}

.ultra-btn:hover,
.ultra-btn:active {
  background-color: rgb(66, 63, 63);
  color: white;
}

/* ****************************** */
/* KINDNESS */
/* ****************************** */
.kindness {
  display: flex;
}

.kindness-content {
  padding-top: 220px;
  padding-left: 160px;
  background-color: #e8e9ee;
  z-index: 1;
}

.kindness-heading {
  width: 300px;
  letter-spacing: 0.1px;
  line-height: 1.3;
}

.kindness-heading::before {
  content: " ";
  width: 180px;
  border-top: 20px solid darkgreen;
  position: absolute;
  top: -40%;
}

.kindness-parag {
  width: 340px;
  line-height: 1.6;
  padding: 20px 0;
}

.kindness-btn:hover,
.kindness-btn:active {
  background-color: rgb(66, 63, 63);
  color: white;
}

.kindness-image img {
  width: 100%;
}

.image-footer {
  background-color: #e8e9ee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.image-footer img {
  width: 70%;
  z-index: 1;
  background-color: #e8e9ee;
}

/* ****************************** */
/* FOOTER */
/* ****************************** */
.footer span {
  padding: 40px 0;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  justify-content: center;
  background-color: #724e2c;
  color: white;
}

.footer a {
  color: white;
  margin-left: 10px;
}

/* ****************************** */
/* RESPONSIVE MOBILE AND TABLET */
/* ****************************** */

@media (max-width: 824px) {
  .header {
    padding: 20px;
  }
  .navigation {
    width: 100%;
    display: flex;
  }
  .search {
    padding: 20px 40px;
  }
  .navigation-logo {
    width: 120px;
  }
  .search-navigation {
    margin-left: auto;
  }
  .search-icon {
    font-size: 28px;
    top: 18px;
    right: 45px;
  }
  .list-icon {
    font-size: 50px;
  }
  .srabucks-happy {
    height: 100vh;
    padding: 10px 40px;
  }
  .headeing-happy {
    font-size: 120px;
  }
  .paragraph-happy {
    font-size: 28px;
  }
  .starbucks-shakes {
    width: 50%;
    flex-wrap: wrap;
    margin: 0;
  }
  .shake {
    width: 150px;
  }
  .lady-gaga {
    display: block;
  }
  .lady-gaga__heading {
    font-size: 60px;
  }
  .lady-gaga__heading::before {
    margin-top: 22px;
  }
  .lady-gaga__comment {
    font-size: 25px;
  }
  .lady-gaga__parg {
    font-size: 28px;
    line-height: 1.5;
  }
  .image-gaga img {
    object-fit: cover;
    width: 100%;
  }
  .vanilla-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .cream-image img {
    width: 100%;
    height: 43.7vh;
    margin: 0;
    object-fit: cover;
  }
  .vanilla-heading {
    font-size: 30px;
  }
  .vanilla-heading::before {
    margin-top: 25px;
  }
  .ultra-caramel__content {
    padding: 180px 70px;
  }
  .ultra-image img {
    object-fit: cover;
    width: 58%;
  }
  .bg-ultra {
    top: 70%;
    left: -20%;
    width: 90%;
  }
  .kindness-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .kindness-content {
    padding: 170px 20px;
  }
  .kindness-heading {
    font-size: 60px;
  }
  .kindness-heading::before {
    margin-top: 90px;
  }
  .kindness-parag {
    font-size: 20px;
  }
  .image-footer img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 10px 20px;
  }
  .search-navigation {
    padding-left: 80px;
  }
  .search {
    width: 140px;
    padding: 10px;
  }
  .search-icon {
    right: 38px;
    top: 10px;
    font-size: 20px;
  }
  .list-icon {
    font-size: 30px;
    padding: 0;
  }
  .srabucks-happy {
    height: 105vh;
    width: 100%;
    background-position: 0;
    padding-left: 50px;
  }
  .headeing-happy {
    width: 100%;
    font-size: 50px;
  }
  .navigation-logo {
    width: 70px;
  }
  .starbucks-shakes {
    flex-direction: column;
    align-items: start;
    padding: 40px 0;
  }
  .shake {
    width: 100px;
  }
  .paragraph-happy {
    width: 90%;
    font-size: 20px;
  }
  .lady-gaga {
    display: block;
  }
  .image-gaga img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .lady-gaga__text {
    display: inline-block;
    padding: 150px 100px;
  }
  .lady-gaga__heading::before {
    margin-top: 35px;
  }
  .lady-gaga__heading {
    width: 100%;
    font-size: 40px;
  }
  .lady-gaga__comment {
    width: 100%;
    font-size: 16px;
  }
  .lady-gaga__parg {
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
  }
  .Introducing-product {
    display: block;
  }
  .vanilla-image img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
  }
  .Vanilla-cream {
    padding: 100px 50px;
  }
  .vanilla-heading {
    width: 100%;
  }
  .vanilla-heading::before {
    margin-top: 5px;
  }
  .vanilla-parag {
    width: 100%;
  }
  .cream-image img {
    object-fit: cover;
    background-size: cover;
  }
  .ultra-caramel__content {
    padding-top: 100px;
    padding-left: 36.2px;
  }
  .ultra-container {
  }
  .ultra-heading {
    width: 70%;
  }
  .ultra-image {
    display: none;
  }
  .ultra-image img {
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
  }
  .kindness {
    display: block;
  }
  .kindness-content {
    padding-top: 150px;
  }
  .kindness-heading {
    font-size: 40px;
    width: 80%;
  }
  .kindness-parag {
    font-size: 15px;
    width: 90%;
  }
  .kindness-heading::before {
    margin-top: 15px;
  }
  .kindness-image img {
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
  }
  .image-footer img {
    max-width: 80%;
    height: 40vh;
    object-fit: cover;
    background-position: right;
  }
}
